# WEB SCRAPING – ASSIGNMENT 2
## Instructions :
#### 1. All the questions must be done in a single Jupyter notebook.
#### 2. There should be proper comments in code.
#### _____________________________________________________________________________________________________________

## Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
### This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
#### Note: All of the above steps have to be done in code. No step is to be done manually.

In [289]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [290]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [291]:
driver.get("https://www.naukri.com/")

In [294]:
designation=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input')
designation.send_keys("Data Analyst")

In [295]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys("Bangalore")

In [296]:
submit=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]')
submit.click()

In [303]:
job_titles=[]
job_locations=[]
experience_required=[]
company_names=[]

In [304]:
titles=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in titles[0:10]:
    job_titles.append(i.text)

locations=driver.find_elements(By.XPATH,'//ul[@class="mt-7"]/li[3]/span')
for i in locations[0:10]:
    job_locations.append(i.text)

experiences=driver.find_elements(By.XPATH,'//ul[@class="mt-7"]/li[1]/span')
for i in experiences[0:10]:
    experience_required.append(i.text)

companies=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in companies[0:10]:
    company_names.append(i.text)

In [305]:
print(len(job_titles),len(job_locations),len(experience_required),len(company_names))

10 10 10 10

In [306]:
df=pd.DataFrame([job_titles,company_names,experience_required,job_locations],index=["job_titles","company_names","experience_required","job_locations"]).transpose()
df

,job_titles,company_names,experience_required,job_locations
0,Contractual Hiring For Top MNC || Business Dat...,TeamLease,5-8 Yrs,Bangalore/Bengaluru
1,HCL hiring For Data Analyst,HCL Technologies,3-8 Yrs,"Bangalore/Bengaluru, Pune, Chennai"
2,Customer Data Analyst,Oracle,1-3 Yrs,Bangalore/Bengaluru
3,Sr. Data Analyst,Global Indian School Education Services,6-11 Yrs,"Bangalore/Bengaluru, Pune"
4,Data Analyst - Decision Science,Jana Small Finance Bank,3-8 Yrs,Bangalore/Bengaluru
5,Programmer / Data Analyst,Frost & Sullivan,3-7 Yrs,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund..."
6,Immediate opening For Data Analyst @ Bangalore,TeamLease,4-6 Yrs,Bangalore/Bengaluru
7,Associate Data Analyst,Optum,2-7 Yrs,Bangalore/Bengaluru
8,Associate Data Analyst,Optum,1-4 Yrs,Bangalore/Bengaluru
9,Senior Data Analyst,KrazyBee,3-5 Yrs,Bangalore/Bengaluru(Domlur)

## Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
### This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually

In [307]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [308]:
driver=webdriver.Chrome("chromedriver.exe")

In [309]:
driver.get("https://www.naukri.com/")

In [310]:
designation=driver.find_element(By.XPATH,'//input[@class="suggestor-input "]')
designation.send_keys("Data Scientist")
location=driver.find_element(By.XPATH,"//*[@id='root']/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")
submit=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
submit.click()

In [313]:
job_titles=[]
job_locations=[]
experience_required=[]
company_names=[]
titles=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in titles[0:10]:
    job_titles.append(i.text)

locations=driver.find_elements(By.XPATH,'//ul[@class="mt-7"]/li[3]/span')
for i in locations[0:10]:
    job_locations.append(i.text)

experiences=driver.find_elements(By.XPATH,'//ul[@class="mt-7"]/li[1]/span')
for i in experiences[0:10]:
    experience_required.append(i.text)

companies=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in companies[0:10]:
    company_names.append(i.text)
print(len(job_titles),len(job_locations),len(experience_required),len(company_names))

df=pd.DataFrame([job_titles,company_names,experience_required,job_locations],index=["job_titles","company_names","experience_required","job_locations"]).transpose()
df

10 10 10 10

,job_titles,company_names,experience_required,job_locations
0,Job Opportunity on Data Science_ Python with T...,Tech Mahindra,4-9 Yrs,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund..."
1,Assistant Manager - Data Science,CitiusTech,5-9 Yrs,"Bangalore/Bengaluru, Mumbai, Pune"
2,Analystics & Modeling Specialist,Accenture,6-8 Yrs,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
3,Hiring For DATA Scientist @ NTT DATA Business ...,NTT DATA Business Solutions Private Limited,4-9 Yrs,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."
4,Data Scientist/AIML Engineer,upGrad,0-2 Yrs,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde..."
5,Data Science Consultant,ZS Associates India Pvt Ltd,3-8 Yrs,"Bangalore/Bengaluru, Pune, Gurgaon/Gurugram"
6,Lead ML Scientist,Fractal Analytics,6-10 Yrs,"Bangalore/Bengaluru, Mumbai"
7,Tcs Hiring For Data Scientist,TATA CONSULTANCY SERVICES (TCS),3-8 Yrs,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)"
8,Data Scientist - II,SMARTPADDLE TECHNOLOGY PVT. LTD.,3-6 Yrs,"Bangalore/Bengaluru, India, Mumbai (All Areas)"
9,Data Scientist - A.P. Maersk,Maersk,5-10 Yrs,Bangalore/Bengaluru

## Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
### You have to use the location and salary filter.
### You have to scrape data for “Data Scientist” designation for first 10 job results.
### You have to scrape the job-title, job-location, company name, experience required.
### The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
### The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
#### Note: All of the above steps have to be done in code. No step is to be done manually.

In [314]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [367]:
driver=webdriver.Chrome('chromedriver.exe')

In [368]:
driver.get('https://www.naukri.com/')

In [369]:
designation=driver.find_element(By.XPATH,'//input[@class="suggestor-input "]')
designation.send_keys("Data Scientist")
submit=driver.find_element(By.XPATH,'//div[@class="qsbSubmit"]')
submit.click()

In [370]:
salary_filter=driver.find_element(By.XPATH,'//span[@title="3-6 Lakhs"]')
salary_filter.click()

In [371]:
location_filter=driver.find_element(By.XPATH,'//span[@title="Delhi / NCR"]')
location_filter.click()

In [372]:
job_titles=[]
job_locations=[]
experience_required=[]
company_names=[]
titles=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in titles[0:10]:
    job_titles.append(i.text)

locations=driver.find_elements(By.XPATH,'//ul[@class="mt-7"]/li[3]/span')
for i in locations[0:10]:
    job_locations.append(i.text)

experiences=driver.find_elements(By.XPATH,'//ul[@class="mt-7"]/li[1]/span')
for i in experiences[0:10]:
    experience_required.append(i.text)

companies=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in companies[0:10]:
    company_names.append(i.text)
print(len(job_titles),len(job_locations),len(experience_required),len(company_names))

df=pd.DataFrame([job_titles,company_names,experience_required,job_locations],index=["job_titles","company_names","experience_required","job_locations"]).transpose()
df

10 10 10 10

,job_titles,company_names,experience_required,job_locations
0,Data Scientist,GlobalLogic,8-10 Yrs,"Noida, Nagpur, Bangalore/Bengaluru"
1,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,2-5 Yrs,"New Delhi, Bangalore/Bengaluru"
2,Data Scientist,Optum,2-7 Yrs,Gurgaon/Gurugram
3,Data Scientist / Chat-bot Developer,Big Seo Buzz,3-7 Yrs,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar..."
4,Lead Data Scientist,R Systems International,7-10 Yrs,Noida(Sector-59 Noida)
5,Data Scientist - Predictive Analytics,Confidential,1-6 Yrs,(WFH during Covid)
6,Data Scientist - Engine Algorithm,Primo Hiring,1-3 Yrs,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera..."
7,Data Scientist,Feedback Infra,2-4 Yrs,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund..."
8,Data Scientist,4i Odc,2-4 Yrs,Gurgaon/Gurugram
9,"Data Scientist, Associate",NatWest Group,2-7 Yrs,Noida

## Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
### 1. Brand
### 2. Product Description
### 3. Price
### The attributes which you have to scrape is ticked marked in the below image.
### To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.
#### Note: That all of the above steps have to be done by coding only and not manually.

In [254]:
# Importing Usefull Libraries

import selenium 
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

# Importing Chrome Driver

driver=webdriver.Chrome('chromedriver.exe')

In [255]:
# 1. Go to Flipkart webpage by url : https://www.flipkart.com/

driver.get('https://www.flipkart.com/')

In [256]:
# 2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon

search_input=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_input.send_keys('sunglasses')

submit=driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
submit.click()

In [259]:
# 3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.
# 4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it.
# 5. Now scrape data from this page as usual
# 6. Repeat this until you get data for 100 sunglasses

Brand=[]
Product_description=[]
Price=[]
running_discount=[]

def Scraping():
    brands=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brands:
        Brand.append(i.text)

    descriptions=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in descriptions:
        Product_description.append(i.text)

    prices=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in prices:
        Price.append(i.text)

    discounts=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]/span')
    for i in discounts:
        running_discount.append(i.text)

print(len(Brand),len(Product_description),len(Price),len(running_discount))

0 0 0 0

In [260]:

while len(Brand)<=100:
    Scraping()
    next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_page.click

In [261]:

print(len(Brand),len(Product_description),len(Price),len(running_discount))

120 120 120 120

In [264]:
df=pd.DataFrame([Brand,Product_description,Price,running_discount],index=['Brand','Product_description','Price','running_discount']).transpose().head(100)
df

,Brand,Product_description,Price,running_discount
0,PIRASO,UV Protection Rectangular Sunglasses (52),₹246,84% off
1,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (50)","₹1,049",47% off
2,AISLIN,"UV Protection, Gradient Butterfly, Retro Squar...",₹415,72% off
3,Rich Club,UV Protection Round Sunglasses (50),₹336,66% off
4,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹319,84% off
...,...,...,...,...
95,Fastrack,UV Protection Wayfarer Sunglasses (56),₹989,23% off
96,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹759,15% off
97,PIRASO,Polarized Retro Square Sunglasses (47),₹384,84% off
98,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹329,79% off
99,AISLIN,"UV Protection, Gradient Butterfly, Retro Squar...",₹448,70% off

## Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
### This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field .
3. Then click the search button.
### You will reach to the below shown webpage . As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.
#### Note: All the steps required during scraping should be done through code only and not manually.

In [468]:
# Importing Usefull Libraries

import selenium 
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

# Importing Chrome Driver

driver=webdriver.Chrome('chromedriver.exe')

In [474]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&q=iphone+11&store=tyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=bb943e69-64c5-485d-a9e8-afad8a445409.MOBFWQ6BXGJCEYNY.SEARCH&ppt=hp&ppn=homepage&ssid=o87tskpvy80000001662929996425&qH=f6cdfdaa9f3c23f3')

In [475]:
more_review=driver.find_element(By.XPATH,'//div[@class="_3UAT2v _16PBlm"]')
more_review.click()

In [476]:
Rating=[]
Review_summary=[]
Full_review=[]

def Scraping():
    ratings=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in ratings:
        Rating.append(i.text)

    summeries=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in summeries:
        Review_summary.append(i.text)

    reviews=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]/div/div')
    for i in reviews:
        Full_review.append(i.text)


print(len(Rating),len(Review_summary),len(Full_review))

0 0 0

In [477]:
Scraping()
next_page=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
next_page.click()
time.sleep(5)

In [478]:
while len(Rating)<=100:
    Scraping()
    next_page=driver.find_element(By.XPATH,'//nav[@class="yFHi8N"]/a[12]')
    next_page.click()
    time.sleep(5)

In [480]:
df=pd.DataFrame([Rating,Review_summary,Full_review],index=['Rating','Review_summary','Full_review']).transpose().head(100)
df

,Rating,Review_summary,Full_review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Highly recommended,What a camera .....just awesome ..you can feel...
...,...,...,...
95,5,Best in the market!,Damn this phone is a blast . Upgraded from and...
96,5,Perfect product!,Worth the money’ starting first from its perfo...
97,4,Absolute rubbish!,Worst product delivered by Flipkart\nAfter 10d...
98,5,Awesome,I dreamt about this day from a long time.... G...
99,5,Value-for-money,I'm Really happy with the product\nDelivery wa...

## Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
### You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
#### As shown in the below image, you have to scrape the tick marked attributes.
#### Note: All the steps required during scraping should be done through code only and not manually.

In [481]:
# Importing Usefull Libraries

import selenium 
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

# Importing Chrome Driver

driver=webdriver.Chrome('chromedriver.exe')

In [482]:
driver.get('https://www.flipkart.com/')

In [484]:
search=driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search.send_keys('sneakers')
click_search=driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
click_search.click()

In [485]:
Brand=[]
Product_description=[]
Price=[]
Discount=[]

def Scraping():
    brands=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brands:
        Brand.append(i.text)

    descriptions=driver.find_elements(By.XPATH,'//div[@class="_2B099V"]/a[1]')
    for i in descriptions:
        Product_description.append(i.text)

    prices=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in prices:
        Price.append(i.text)
        
    discounts=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]/span')
    for i in discounts:
        Discount.append(i.text)


print(len(Brand),len(Product_description),len(Price),len(Discount))

0 0 0 0

In [486]:
Scraping()
next_page=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_page.click()
time.sleep(5)

In [487]:
while len(Brand)<=100:
    Scraping()
    next_page=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
    next_page.click()
    time.sleep(5)

In [488]:
print(len(Brand),len(Product_description),len(Price),len(Discount))

120 120 120 119

In [489]:
df=pd.DataFrame([Brand,Product_description,Price,Discount],index=['Brand','Product_description','Price','Discount']).transpose().head(100)
df

,Brand,Product_description,Price,Discount
0,Myshtezia,Stylish Sneaker For Women Sneakers For Women,₹299,85% off
1,TR,Casual White Sneakers For Men,₹299,80% off
2,Labbin,Sneakers For Men,₹329,67% off
3,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹498,73% off
4,BRUTON,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,₹179,70% off
...,...,...,...,...
95,LE GREEM,Comfortable & Ultra Light Weight Sneaker Sneak...,₹449,55% off
96,Chevit,"Modern Stylish Combo Pack of 3 Jogging, Walkin...",₹568,76% off
97,otoos,Sneakers For Men,₹607,69% off
98,ASTEROID,Original Luxury Branded Fashionable Men's Casu...,₹449,55% off
99,HOCKWOOD,Street Smart Sneakers For Men,₹745,25% off

## Q7: Go to the link - https://www.myntra.com/shoes
### Set second Price filter and Color filter to “Black”, as shown in the below image. And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.
#### Note: Applying the filter and scraping the data, everything should be done through code only and there
should not be any manual step.

In [2]:
# Importing Usefull Libraries

import selenium 
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

# Importing Chrome Driver

driver=webdriver.Chrome('chromedriver.exe')

In [3]:
driver.get('https://www.myntra.com/shoes')

In [5]:
# price filter
price_filter=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
price_filter.click()

In [8]:
# Color Black Filter
color_filter=driver.find_element(By.XPATH,'//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_filter.click()

In [9]:
Brand=[]
Product_description=[]
Price=[]


def Scraping():
    brands=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for i in brands:
        Brand.append(i.text)

    descriptions=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for i in descriptions:
        Product_description.append(i.text)

    prices=driver.find_elements(By.XPATH,'//div[@class="product-price"]/span[1]')
    for i in prices:
        Price.append(i.text)

In [10]:

while len(Brand)<=100:
    Scraping()
    next_page=driver.find_element(By.XPATH,'//a[@rel="next"]')
    next_page.click()
    time.sleep(5)

In [11]:
df=pd.DataFrame([Brand,Product_description,Price],index=['Brand','Product_description','Price']).transpose().head(100)
df

               Brand             Product_description               Price
0               Nike  Men ZOOM WINFLO8 Running Shoes    Rs. 7880Rs. 8295
1           Skechers                Men Sports Shoes            Rs. 8499
2   ADIDAS Originals        Men Niteball II Sneakers   Rs. 9349Rs. 10999
3               Nike    Men React Infinity 3 Running  Rs. 13295Rs. 13995
4   ADIDAS Originals   Men Leather Niteball Sneakers  Rs. 10799Rs. 11999
..               ...                             ...                 ...
95            ADIDAS     Women Solar Glide 5 Running   Rs. 9799Rs. 13999
96            ADIDAS      Women SL20.3 Running Shoes   Rs. 7799Rs. 11999
97      UNDER ARMOUR  W omen TriBase Reign 4 Running   Rs. 8399Rs. 11999
98            ADIDAS  Women Adizero Adios 7 Run Shoe   Rs. 9599Rs. 11999
99         J.FONTINI    Men Textured Leather Loafers            Rs. 7990

[100 rows x 3 columns]

## Q8: Go to webpage https://www.amazon.in/
### Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image: After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
#### Note: All the steps required during scraping should be done through code only and not manually.

In [226]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By

In [227]:
driver=webdriver.Chrome('chromedriver.exe')

In [228]:
driver.get('https://www.amazon.in/')

In [229]:
search_input=driver.find_element(By.XPATH,'//*[@id="twotabsearchtextbox"]')
search_input.send_keys('Laptop')
submit=driver.find_element(By.XPATH,'//span[@class="nav-search-submit-text nav-sprite nav-progressive-attribute"]')
submit.click()

In [230]:
core_i7=driver.find_element(By.XPATH,'//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/span')
core_i7.click()

In [249]:
Title=[]
Rating=[]
Price=[]

In [250]:
titles=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in titles[0:10]:
    Title.append(i.text)

ratings=driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]/span[1]')
for i in ratings[0:10]:
    Rating.append(i.get_attribute('aria-label'))

prices=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in prices[0:10]:
    Price.append(i.text)

In [251]:
print(len(Title),len(Rating),len(Price))

10 10 10

In [252]:
df=pd.DataFrame([Title,Rating,Price],index=['Title','Rating','Price']).transpose()
df

,Title,Rating,Price
0,Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...,4.3 out of 5 stars,"82,990"
1,Lenovo Yoga 7i 11th Gen Intel Core i7-1165G7 1...,4.4 out of 5 stars,"1,06,999"
2,Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...,3.9 out of 5 stars,"72,890"
3,"ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...",3.8 out of 5 stars,"57,990"
4,(Renewed) Lenovo Intel Core i7 5600U 12.5-Inch...,3.3 out of 5 stars,"23,997"
5,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,4.3 out of 5 stars,"80,990"
6,Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...,4.1 out of 5 stars,"85,800"
7,"ASUS TUF Gaming F17 (2022), 17.3-inch (43.94 c...",3.9 out of 5 stars,"1,32,990"
8,(Renewed) HP Elitebook 840G1-i7-8 GB-2 TB 14-i...,4.1 out of 5 stars,"41,690"
9,"ASUS VivoBook K15 OLED (2021), 15.6-inch FHD O...",3.7 out of 5 stars,"82,990"

## Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
### This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.
#### Note: All the steps required during scraping should be done through code only and not manually.

In [119]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [120]:
driver=webdriver.Chrome('chromedriver.exe')

In [205]:
driver.get('https://www.ambitionbox.com/')

In [206]:
jobs_btn=driver.find_element(By.XPATH,'//*[@id="ambitionbox-header"]/nav/ul/li[5]/a')
jobs_btn.click()
time.sleep(3)

In [208]:
designation=driver.find_element(By.XPATH,'//*[@id="jobs-typeahead"]/span/input')
designation.send_keys('Data Scientist')
time.sleep(3)

In [209]:
submit=driver.find_element(By.XPATH,'//*[@id="jobs"]/div[2]/div[1]/div[1]/div/div/div/button')
submit.click()
time.sleep(3)

In [210]:
location_btn=driver.find_element(By.XPATH,'//*[@id="filters-row"]/div/div/div[2]/div[1]')
location_btn.click()
time.sleep(3)

In [211]:
search=driver.find_element(By.XPATH,'//*[@id="filters-row"]/div/div/div[2]/div[2]/div/div[2]/input')
search.send_keys('Noida')
time.sleep(3)

In [212]:
click_btn=driver.find_element(By.XPATH,'//*[@id="filters-row"]/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
click_btn.click()
time.sleep(3)

In [213]:
company_name=[]
number_days_ago=[]
company_rating=[]

In [214]:
companies=driver.find_elements(By.XPATH,'//p[@class="company body-medium"]')
for i in companies:
    company_name.append(i.text)
    
days_ago=driver.find_elements(By.XPATH,'//*[@id="jobsList"]/div[2]/div[2]/div/div//div/div[3]/span[1]')
for i in days_ago:
    number_days_ago.append(i.text)

ratings=driver.find_elements(By.XPATH,'//*[@id="jobsList"]/div[2]//div[@class="info"]//span[@class="body-small"]')
for i in ratings:
    company_rating.append(i.text)

In [215]:
print(len(company_name),len(number_days_ago),len(company_rating))

10 10 10

In [216]:
df=pd.DataFrame([company_name,number_days_ago,company_rating],index=['company_name','number_days_ago','company_rating']).transpose()
df

,company_name,number_days_ago,company_rating
0,Optum Global Solutions (India) Private Limited,4d ago,4.1
1,BARCLAYS GLOBAL SERVICE CENTRE PRIVATE LIMITED,2d ago,4.3
2,EY GDS,4d ago,3.8
3,GLOBALLOGIC INDIA PRIVATE LIMITED,2d ago,4.0
4,CBRE South Asia Pvt Ltd,1mon ago,4.3
5,GENPACT India Private Limited,24d ago,4.0
6,Genpact,26d ago,4.0
7,Ericsson India Global Services Pvt. Ltd.,1mon ago,4.3
8,Dew Solutions Pvt. Ltd.,9d ago,4.3
9,One97 Communications Limited,17d ago,3.8

## Q10: Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
### The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”. You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.
#### Note: All the steps required during scraping should be done through code only and not manually.

In [170]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [171]:
driver=webdriver.Chrome('chromedriver.exe')

In [217]:
driver.get('https://www.ambitionbox.com/')
time.sleep(2)

In [218]:
salary_click=driver.find_element(By.XPATH,'//li[@class="navItem"][3]')
salary_click.click()
time.sleep(2)

In [219]:
brows_salary=driver.find_element(By.XPATH,'//*[@id="ambitionbox-header"]/nav/ul/li[3]/div/ul/li[1]/div/div[2]/a')
brows_salary.click()
time.sleep(2)

In [220]:
designation=driver.find_element(By.XPATH,'//*[@id="jobProfileSearchbox"]')
designation.send_keys('Data Scientist')
time.sleep(2)
submit=driver.find_element(By.XPATH,'//*[@id="salaries"]/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div')
submit.click()
time.sleep(2)

In [221]:
Company_name=[]
Number_of_salaries=[]
Average_salary=[]
Min_salary=[]
Max_Salary=[]

In [222]:
companies=driver.find_elements(By.XPATH,'//div[@class="company-info"]//a')
for i in companies:
    Company_name.append(i.text)


salaries=driver.find_elements(By.XPATH,'//span[@class="datapoints"]')
for i in salaries:
    Number_of_salaries.append(i.text.replace('based on ',''))


avg_salary=driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
for i in avg_salary:
    Average_salary.append(i.text.strip('\nData Scientist Salary'))


min_salaries=driver.find_elements(By.XPATH,'//div[@class="salary-values"]/div[1]')
for i in min_salaries:
    Min_salary.append(i.text)


max_salaries=driver.find_elements(By.XPATH,'//div[@class="salary-values"]/div[2]')
for i in max_salaries:
    Max_Salary.append(i.text)

In [223]:
print(len(Company_name),len(Number_of_salaries),len(Average_salary),len(Min_salary),len(Max_Salary))

10 10 10 10 10

In [224]:
df=pd.DataFrame([Company_name,Number_of_salaries,Average_salary,Min_salary,Max_Salary],index=['Company_name','Number_of_salaries','Average_salary','Min_salary','Max_Salary']).transpose()
df

,Company_name,Number_of_salaries,Average_salary,Min_salary,Max_Salary
0,Walmart\nData Scientist Salary,(23 salaries),₹ 32.3L,₹ 25.0L,₹ 45.0L
1,Ab Inbev\nData Scientist Salary,(57 salaries),₹ 19.9L,₹ 15.0L,₹ 26.0L
2,Optum\nData Scientist Salary,(49 salaries),₹ 16.4L,₹ 11.0L,₹ 22.6L
3,ZS\nData Scientist Salary,(34 salaries),₹ 15.8L,₹ 11.0L,₹ 22.0L
4,Fractal Analytics\nData Scientist Salary,(115 salaries),₹ 15.4L,₹ 9.0L,₹ 23.0L
5,Tiger Analytics\nData Scientist Salary,(68 salaries),₹ 14.7L,₹ 9.0L,₹ 20.0L
6,Sigmoid Analytics\nData Scientist Salary,(10 salaries),₹ 14.7L,₹ 12.7L,₹ 19.7L
7,Legato Health Technologies\nData Scientist Salary,(11 salaries),₹ 14.5L,₹ 11.0L,₹ 20.0L
8,HSBC\nData Scientist Salary,(10 salaries),₹ 14.0L,₹ 12.0L,₹ 18.0L
9,Tredence\nData Scientist Salary,(14 salaries),₹ 13.9L,₹ 8.8L,₹ 17.5L