## Q1. Scrape the details of most viewed videos on YouTube from Wikipedia.

**Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos**

**You need to find following details:**

**A) Rank**

**B) Name**

**C) Artist**

**D) Upload date**

**E) Views**

In [1]:
import pandas as pd
import selenium
import time
from bs4 import BeautifulSoup 
from tqdm import tqdm
from selenium import webdriver
from selenium.webdriver.common.by import By

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support.ui import WebDriverWait
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Let first connect to the driver

driver=webdriver.Chrome("chromedriver.exe")

In [6]:
url=('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
driver.get(url)

In [7]:
# Creating empty list for storing data after scraping

Rank = []
Name = []
Artist = []
Upload_date = []
Views = []

In [8]:
# Scraping Rank of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")

In [9]:
#scrapping rank
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("_")

In [10]:
#scrapping Artist
try:
    for i in driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[3]'):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("_")

In [11]:
#Scrapping upload Date
try:
    for i in driver.find_elements(By.XPATH,' //table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]'):
        Upload_date.append(i.text)
except NoSuchElementException:
    Upload_date.append('-')

In [12]:
# Scraping Views of videos

try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("_")

In [13]:
# Creating DataFrame from scraped data
YT_list = pd.DataFrame({})
YT_list['Rank']=Rank
YT_list['Name']=Name
YT_list['Artist']=Artist
YT_list['Upload Date']=Upload_date
YT_list['Views']=Views

In [14]:
YT_list

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.24
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.96
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.44
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.80
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.62
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.59
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.85
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.68
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.61
9,10.,"""Gangnam Style""[24]",Psy,"July 15, 2012",4.53
10,11.,"""Masha and the Bear – Recipe for Disaster""[29]",Get Movies,"January 31, 2012",4.51
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.31
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",4.05
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.75
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.64
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.63
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.58
17,18.,"""Axel F""[36]",Crazy Frog,"June 16, 2009",3.49
18,18.,"""Thinking Out Loud""[37]",Ed Sheeran,"October 7, 2014",3.49
19,20.,"""Baa Baa Black Sheep""[38]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.35
20,21.,"""Dark Horse""[39]",Katy Perry,"February 20, 2014",3.34
21,22.,"""Faded""[40]",Alan Walker,"December 3, 2015",3.33
22,23.,"""Girls Like You""[41]",Maroon 5,"May 31, 2018",3.33
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.29
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.26
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.25
26,27.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.24
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.23
28,29.,"""Shake It Off""[47]",Taylor Swift,"August 18, 2014",3.20
29,30.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.14

In [15]:
driver.close()

## Q2. Scrape the details team India’s international fixtures from bcci.tv.
**Url = https://www.bcci.tv/.**

**You need to find following details:**

**A) Match title (I.e. 1st ODI)**

**B) Series**

**C) Place**

**D) Date**

**E) Time**


**Note: - From bcci.tv home page you have reach to the international fixture page through code.**

In [1]:
import pandas as pd
import selenium
import time
from bs4 import BeautifulSoup 
from tqdm import tqdm
from selenium import webdriver
from selenium.webdriver.common.by import By

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support.ui import WebDriverWait
import warnings
warnings.filterwarnings('ignore')

In [16]:
# Let first connect to the driver

driver=webdriver.Chrome("chromedriver.exe")

In [17]:
url=('https://www.bcci.tv/')
driver.get(url)

In [18]:
#clickin on International tab
International = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a') # click button
International.click()

In [19]:
#Creating Empty List
Name=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [20]:
#Scrapping Name
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]'):
        Name.append(i.text.replace('-',""))
except NoSuchElementException:
    Name.append('-')

In [21]:
#Scrapping Series
try:
    
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding"]'):
        Series.append(i.text)
except NoSuchElementException:
    Series.append('-')

In [22]:
#scrapping Place
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]'):
        Place.append(i.text)
except NoSuchElementException:
    Place.append('-')

In [23]:
#Scrapping Date
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]'):
        Date.append(i.text)
except NoSuchElementException:
    Date.append('-')

In [24]:
#Scrapping Time
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]'):
        Time.append(i.text.replace('IST',""))
except NoSuchElementException:
    Time.append('-')

In [25]:
# Create Dataframe

BCCI=pd.DataFrame({})
BCCI['Title']=Series
BCCI['Name']=Name
BCCI['Place']=Place
BCCI['Date']=Date
BCCI['Time']=Time
BCCI

,Title,Name,Place,Date,Time
0,INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022,2nd T20I,"County Ground,",13 SEP 2022,10:30 PM
1,INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022,3rd T20I,"County Ground,",15 SEP 2022,11:00 PM
2,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,1st ODI,"County Ground,",18 SEP 2022,3:30 PM
3,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,1st T20I,"Punjab Cricket Association IS Bindra Stadium,",20 SEP 2022,7:30 PM
4,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,2nd ODI,"St Lawrence Ground,",21 SEP 2022,5:30 PM
5,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,2nd T20I,"Vidarbha Cricket Association Stadium,",23 SEP 2022,7:30 PM
6,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,3rd ODI,"Lord's Cricket Ground,",24 SEP 2022,3:30 PM
7,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,3rd T20I,"Rajiv Gandhi International Stadium,",25 SEP 2022,7:30 PM

In [26]:
driver.close()

## Q3. Scrape the details of selenium exception from guru99.com.
**Url = https://www.guru99.com/ You need to find following details:**

**A) Name**

**B) Description**

**Note: - From guru99 home page you have to reach to selenium exception handling page through code.**

In [1]:
import pandas as pd
import selenium
import time
from bs4 import BeautifulSoup 
from tqdm import tqdm
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support.ui import WebDriverWait
import warnings
warnings.filterwarnings('ignore')

In [6]:
# Let first connect to the driver

driver=webdriver.Chrome(r"chromedriver.exe")

In [7]:
driver.get("https://www.guru99.com/")
driver.maximize_window()

In [8]:
# Click Selenium Button
Selenium = driver.find_element(By.XPATH,'//*[@id="java_technologies"]/li[3]/a') # click button
try:
    Selenium.click()
except ElementNotInteractableException:#handling element not clickable exception
    driver.get(Selenium.get_attribute('href'))
time.sleep(3)

In [9]:
# Click selenium exception handling  Button
exception_handling = driver.find_element(By.XPATH,"//a[@title='Selenium Exception Handling (Common Exceptions List)']")
try:
    exception_handling.click()
except ElementNotInteractableException:  #if the above code doesn't work/is not clickable then, the below code will handle it
    driver.get(exception_handling.get_attribute('href'))

In [28]:
name=[]
description=[]
#Scrapping Name
for i in driver.find_elements(By.XPATH,'//div[@class="entry-content single-content"]/p/strong'):
    if 'Exception:' in i.text:
        name.append(i.text[3:-1])
for i in driver.find_elements(By.XPATH,'//*[@id="post-1953"]/div/div/p'):
    if 'Exception:' in i.text:
        description.append(i.text.split(' ',2)[2])

In [29]:
Selenium_Exception=pd.DataFrame()
Selenium_Exception['Exception name']=name
Selenium_Exception['Description']=description
Selenium_Exception

,Exception name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateException,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver doesn’t send...

In [30]:
driver.close()

# Q4. Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/ You have to find following details:

A) Rank

B) State

C) GSDP(19-20)

D) GSDP(18-19)

E) Share(18-19)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [31]:
import pandas as pd
import selenium
import time
from bs4 import BeautifulSoup 
from tqdm import tqdm
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support.ui import WebDriverWait
import warnings
warnings.filterwarnings('ignore')

In [32]:
# Let first connect to the driver

driver=webdriver.Chrome(r"chromedriver.exe")

In [37]:
driver.maximize_window()
driver.get('https://www.statisticstimes.com')
time.sleep(3)

In [38]:
#Click Economy
Economy=driver.find_element(By.XPATH,"//*[@id='top']/div[2]/div[2]/button")
Economy.click()

#Click India
India= driver.find_element(By.XPATH,"//*[@id='top']/div[2]/div[2]/div/a[3]")
India.click()

#Click on India GPD
GDP=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
GDP.click()

In [39]:
#Creating empty list
Rank=[]
State=[]
GSDP_at_current_price_19_20=[]
GSDP_at_current_price_18_19=[]
Share_18_19=[]
GDP_billion=[]

In [40]:
#Scraping Rank
rank= driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[1]')
for i in rank:
    if i.text is None:
        Rank.append('--')
    else:
        Rank.append(i.text)

In [42]:
#Scraping State
state= driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[2]')
for i in state:
    if i.text is None:
        State.append('--')
    else:
        State.append(i.text)

In [43]:
#Scraping GSDP_at_current_price_19_20
gSDP_at_current_price_19_20= driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[3]')
for i in gSDP_at_current_price_19_20:
    if i.text is None:
        GSDP_at_current_price_19_20.append('--')
    else:
        GSDP_at_current_price_19_20.append(i.text)

In [44]:
#Scraping GSDP_at_current_price_18_19
gSDP_at_current_price_18_19= driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[4]')
for i in gSDP_at_current_price_18_19:
    if i.text is None:
        GSDP_at_current_price_18_19.append('--')
    else:
        GSDP_at_current_price_18_19.append(i.text)

In [45]:
#Scraping Share_18_19
share_18_19= driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[5]')
for i in share_18_19:
    if i.text is None:
        Share_18_19.append('--')
    else:
        Share_18_19.append(i.text)

In [46]:
#Scraping GDP_billion
gDP_billion= driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[6]')
for i in gDP_billion:
    if i.text is None:
        GDP_billion.append('--')
    else:
        GDP_billion.append(i.text)

In [47]:
# creating dataframe
GDP_India=pd.DataFrame({})
GDP_India['Rank']=Rank
GDP_India['State']=State
GDP_India['GSDP_at_current_price_19_20']=GSDP_at_current_price_19_20
GDP_India['GSDP_at_current_price_18_19']=GSDP_at_current_price_18_19
GDP_India['Share_18_19']=Share_18_19
GDP_India['GDP_billion']=GDP_billion
GDP_India

,Rank,State,GSDP_at_current_price_19_20,GSDP_at_current_price_18_19,Share_18_19,GDP_billion
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [48]:
driver.close()

# 5. Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

In [78]:
import pandas as pd
import selenium
import time
from bs4 import BeautifulSoup 
from tqdm import tqdm
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support.ui import WebDriverWait
import warnings
warnings.filterwarnings('ignore')

# Let first connect to the driver

driver=webdriver.Chrome(r"chromedriver.exe")

In [81]:
driver.get('https://github.com/trending')

In [83]:
# Scraping repositories URL
URL= []
link=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]/a')
for i in link:
    URL.append(i.get_attribute('href'))

In [63]:
# Creating Empty list for Scraping Data
Title=[]
Description=[]
Count =[]
Language =[]

In [84]:
# Scraping Repositority Title
Title=[]
try:
    title=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]')
    for i in title:
        Title.append(i.text)
except NoSuchElementException:
    Title.append('NA')

In [85]:
len(Title)

25

In [86]:
# Scraping Description
Description=[]
for i in tqdm(URL):
    driver.get(i)
    time.sleep(2)
    try:
        description=driver.find_element(By.XPATH,'//p[@class="f4 my-3"]')
        Description.append(description.text)
    except NoSuchElementException:
        Description.append('NA')
print(len(Description))
Description

100%|██████████| 25/25 [02:33<00:00,  6.14s/it]

25

["freeCodeCamp.org's open-source codebase and curriculum. Learn to code for free.",
 'Collection of various algorithms in mathematics, machine learning, computer science and physics implemented in C++ for educational purposes.',
 '🚀✨ Help beginners to contribute to open source projects',
 'All Algorithms implemented in Python',
 'CodeEdit App for macOS – Elevate your code editing experience. Open source, free forever.',
 'Turn your audience into a business. Publishing, memberships, subscriptions and newsletters.',
 'SigNoz is an open-source APM. It helps developers monitor their applications & troubleshoot problems, an open-source alternative to DataDog, NewRelic, etc. 🔥 🖥. 👉 Open source Application Performance Monitoring (APM) & Observability tool',
 '🕵️\u200d♂️ Collect a dossier on a person by username from thousands of sites',
 'Recopilación de recursos de ciencias de datos por parte de la comunidad Datos Para Todos',
 'Extensible low-code framework for building business applications. Connect to databases, cloud storages, GraphQL, API endpoints, Airtable, etc and build apps using drag and drop application builder. Built using JavaScript/TypeScript. 🚀',
 "A tiny, efficient fuzzy search that doesn't suck",
 'A cross-platform GUI library for Rust, inspired by Elm',
 'The open-source repo for docs.github.com',
 'protoc plugin to generate polyglot message validators',
 'Une liste de liens permettant de se former aux outils utilisés dans le domaine du Devops',
 'iOS 15.0-15.7 semi-tethered checkm8 "jailbreak" | tweaks: iOS 15.0-15.3.1 tethered',
 '⭐ A fully functional real-time notification center for your web and react apps. The only open-source notifications infrastructure that manages multi-channel content, scheduled notifications, digest engine, user preferences, and delivers Email, SMS, Push and Chat notifications using a single API. ⚡',
 'Odoo. Open Source Apps To Grow Your Business.',
 'Outpainting with Stable Diffusion on an infinite canvas',
 'Node Version Manager - POSIX-compliant bash script to manage multiple active node.js versions',
 'Go microservice template for Kubernetes',
 '🤗 Transformers: State-of-the-art Machine Learning for Pytorch, TensorFlow, and JAX.',
 'Interactive roadmaps, guides and other educational content to help developers grow in their careers.',
 'A list of Free Software network services and web applications which can be hosted on your own servers',
 'A list of semi to fully remote-friendly companies (jobs) in tech.']

In [91]:
# Scraping Contributor count
Count =[]
for i in tqdm(URL):
    driver.get(i)
    time.sleep(1)
    try:
        count=driver.find_element(By.XPATH,"//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        Count.append(count.text)
    except NoSuchElementException:
        Count.append('NA')
print(len(Count))
Count

100%|██████████| 25/25 [01:24<00:00,  3.39s/it]

25

['4,552',
 '280',
 '3,804',
 '844',
 '71',
 '414',
 '69',
 '19',
 'NA',
 '217',
 '2',
 '126',
 '1,461',
 '98',
 '13',
 '3',
 '117',
 '1,473',
 '3',
 '317',
 '35',
 '1,421',
 '318',
 '1,125',
 '666']

In [88]:
# Scraping Language
Language =[]
for i in tqdm(URL):
    driver.get(i)
    time.sleep(1)
    L =[]
    try:
        lang=driver.find_elements(By.XPATH,"//li[@class='d-inline']//a//span[1]")
        if lang:
            for j in lang:
                L.append(j.text)
        else:
            L.append('NA')
        Language.append(L)
    except NoSuchElementException:
        Language.append('NA')

100%|██████████| 25/25 [01:34<00:00,  3.77s/it]

In [92]:
print(len(Language))
Language

25

[['TypeScript', 'JavaScript', 'CSS', 'Shell', 'Dockerfile', 'EJS'],
 ['C++', 'CMake'],
 ['NA'],
 ['Python'],
 ['Swift'],
 ['JavaScript', 'Handlebars', 'CSS', 'HTML', 'XSLT'],
 ['TypeScript', 'Go', 'Shell', 'JavaScript', 'Makefile', 'EJS'],
 ['Python', 'HTML', 'Smarty', 'Jupyter Notebook', 'Makefile', 'CSS'],
 ['NA'],
 ['JavaScript', 'TypeScript', 'SCSS', 'HTML', 'Shell', 'EJS'],
 ['JavaScript'],
 ['Rust', 'GLSL'],
 ['JavaScript', 'TypeScript'],
 ['Go', 'Java', 'Starlark', 'Python', 'C++', 'Makefile'],
 ['NA'],
 ['Shell'],
 ['TypeScript',
  'JavaScript',
  'HTML',
  'Handlebars',
  'Dockerfile',
  'EJS',
  'Shell'],
 ['JavaScript', 'Python', 'SCSS', 'CSS', 'HTML', 'Shell'],
 ['Python', 'HTML', 'JavaScript', 'Jupyter Notebook', 'Shell', 'Dockerfile'],
 ['Shell', 'Makefile'],
 ['Go', 'CUE', 'HTML', 'Makefile', 'Shell', 'Smarty', 'Dockerfile'],
 ['Python', 'Cuda', 'Shell', 'Dockerfile', 'C++', 'C'],
 ['TypeScript', 'JavaScript', 'Shell'],
 ['JavaScript', 'Makefile', 'Python', 'Ruby'],
 ['JavaScript', 'HTML', 'CSS', 'Shell']]

In [93]:
Github=pd.DataFrame({'Title':Title[:25],'Description':Description,
                'Contributors_count':Count,'Language_used':Language})
print('\033[1m'+'GitHub Trending Repository :'+'\033[0m')
Github

GitHub Trending Repository :

,Title,Description,Contributors_count,Language_used
0,freeCodeCamp / freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,"4,552","[TypeScript, JavaScript, CSS, Shell, Dockerfil..."
1,TheAlgorithms / C-Plus-Plus,Collection of various algorithms in mathematic...,280,"[C++, CMake]"
2,firstcontributions / first-contributions,🚀✨ Help beginners to contribute to open source...,"3,804",[NA]
3,TheAlgorithms / Python,All Algorithms implemented in Python,844,[Python]
4,CodeEditApp / CodeEdit,CodeEdit App for macOS – Elevate your code edi...,71,[Swift]
5,TryGhost / Ghost,Turn your audience into a business. Publishing...,414,"[JavaScript, Handlebars, CSS, HTML, XSLT]"
6,SigNoz / signoz,SigNoz is an open-source APM. It helps develop...,69,"[TypeScript, Go, Shell, JavaScript, Makefile, ..."
7,soxoj / maigret,🕵️‍♂️ Collect a dossier on a person by usernam...,19,"[Python, HTML, Smarty, Jupyter Notebook, Makef..."
8,FernandaCader / recursos-datos,Recopilación de recursos de ciencias de datos ...,NA,[NA]
9,ToolJet / ToolJet,Extensible low-code framework for building bus...,217,"[JavaScript, TypeScript, SCSS, HTML, Shell, EJS]"
10,leeoniya / uFuzzy,"A tiny, efficient fuzzy search that doesn't suck",2,[JavaScript]
11,iced-rs / iced,"A cross-platform GUI library for Rust, inspire...",126,"[Rust, GLSL]"
12,github / docs,The open-source repo for docs.github.com,"1,461","[JavaScript, TypeScript]"
13,bufbuild / protoc-gen-validate,protoc plugin to generate polyglot message val...,98,"[Go, Java, Starlark, Python, C++, Makefile]"
14,stephrobert / awesome-french-devops,Une liste de liens permettant de se former aux...,13,[NA]
15,palera1n / palera1n,"iOS 15.0-15.7 semi-tethered checkm8 ""jailbreak...",3,[Shell]
16,novuhq / novu,⭐ A fully functional real-time notification ce...,117,"[TypeScript, JavaScript, HTML, Handlebars, Doc..."
17,odoo / odoo,Odoo. Open Source Apps To Grow Your Business.,"1,473","[JavaScript, Python, SCSS, CSS, HTML, Shell]"
18,lkwq007 / stablediffusion-infinity,Outpainting with Stable Diffusion on an infini...,3,"[Python, HTML, JavaScript, Jupyter Notebook, S..."
19,nvm-sh / nvm,Node Version Manager - POSIX-compliant bash sc...,317,"[Shell, Makefile]"
20,stefanprodan / podinfo,Go microservice template for Kubernetes,35,"[Go, CUE, HTML, Makefile, Shell, Smarty, Docke..."
21,huggingface / transformers,🤗 Transformers: State-of-the-art Machine Learn...,"1,421","[Python, Cuda, Shell, Dockerfile, C++, C]"
22,kamranahmedse / developer-roadmap,"Interactive roadmaps, guides and other educati...",318,"[TypeScript, JavaScript, Shell]"
23,awesome-selfhosted / awesome-selfhosted,A list of Free Software network services and w...,"1,125","[JavaScript, Makefile, Python, Ruby]"
24,remoteintech / remote-jobs,A list of semi to fully remote-friendly compan...,666,"[JavaScript, HTML, CSS, Shell]"

In [94]:
driver.close()

# Q6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/ You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [78]:
import pandas as pd
import selenium
import time
from bs4 import BeautifulSoup 
from tqdm import tqdm
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support.ui import WebDriverWait
import warnings
warnings.filterwarnings('ignore')

# Let first connect to the driver

driver=webdriver.Chrome(r"chromedriver.exe")

In [126]:
# Getting the webpage of mentioned url 
driver.get('https://www.billboard.com/')

In [127]:
#Clicking on charts
charts=driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/header/div[2]/div/nav/ul/li[1]/a').click()

In [128]:
# Creating empty lists
Song_Name = []
Artist_Name = []
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

In [129]:
# Scraping name
for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]'):
    Song_Name.append(i.text)
len(Song_Name)

100

In [130]:
#Scrappin Artist name 1 st one
Artist_Name.append(driver.find_element(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']").text)

In [131]:
#Remainig Artist Name
artistTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
Artist_Name.extend([i.text for i in artistTag])

In [132]:
#Scapping Rank
rank=[]
rankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
rank.extend([i.text for i in rankTag[:3]])

In [133]:
#Remaining RAnk
Rank=[]
RankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
Rank.extend([i.text for i in RankTag])

In [134]:
# removing ''
for i in Rank:
    if i=='':
        Rank.remove(i)

In [135]:
# slicing as per requirement
lastweekpos=Rank[0::3]
lastweekpos.insert(0,rank[0])
peakPos=Rank[1::3]
peakPos.insert(0,rank[1])
weeksonBoard=Rank[2::3]
weeksonBoard.insert(0,rank[2])

In [136]:
#check length of all
len(Song_Name),len(Artist_Name),len(lastweekpos),len(peakPos),len(weeksonBoard)

(100, 100, 133, 133, 133)

In [137]:
# Create Dataframe
df=pd.DataFrame()
df['SongName']=Song_Name[0:100]
df['ArtistName']=Artist_Name
df['Last Week']=lastweekpos[0:100]
df["PeekPosition"]=peakPos[0:100]
df['Weeks On board']=weeksonBoard[0:100]
df

,SongName,ArtistName,Last Week,PeekPosition,Weeks On board
0,As It Was\nHarry Styles\n1\n1\n22,Harry Styles,1,1,22
1,Bad Habit\nSteve Lacy\n3\n2\n9,Steve Lacy,3,2,9
2,About Damn Time\nLizzo\n2\n1\n20,Lizzo,2,1,20
3,Running Up That Hill (A Deal With God)\nKate B...,Kate Bush,4,3,34
4,Sunroof\nNicky Youre & dazy\n6\n5\n14,Nicky Youre & dazy,6,5,14
...,...,...,...,...,...
95,Thought You Should Know\nMorgan Wallen\n81\n12...,Morgan Wallen,66,65,11
96,2 Be Loved (Am I Ready)\nLizzo\n95\n84\n3,Lizzo,,,
97,Wait In The Truck\nHARDY Featuring Lainey Wils...,HARDY Featuring Lainey Wilson,68,18,17
98,La Corriente\nBad Bunny & Tony Dize\n87\n32\n14,Bad Bunny & Tony Dize,,,
99,"Bzrp Music Sessions, Vol. 52\nBizarrap & Queve...",Bizarrap & Quevedo,73,63,22

In [138]:
driver.close()

# 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/hr-recruiters-consultants You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [78]:
import pandas as pd
import selenium
import time
from bs4 import BeautifulSoup 
from tqdm import tqdm
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support.ui import WebDriverWait
import warnings
warnings.filterwarnings('ignore')

# Let first connect to the driver

driver=webdriver.Chrome(r"chromedriver.exe")

In [4]:
# Getting the webpage of mentioned url 
url = "https://www.naukri.com/"
driver.get(url)

In [5]:
#Fetching urls to navigate recruiter page
recruiter = driver.find_element(By.XPATH,'//a[@title="Search Jobs"]')
page_url = recruiter.get_attribute("href")

driver.get(page_url)
time.sleep(3)

In [6]:
# Fetching search button, sending keys and clicking on it
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input") 
search.send_keys("Data science ")           
btn = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]').click()     
time.sleep(3)

In [7]:
#Creating empty lists
Name = []
Designation = []
Company = []
Skills = []
Location = []

In [8]:
#Scraping data of Names
for i in driver.find_elements(By.XPATH,"//div[@class='job-description fs12 grey-text']"):
    Name.append(i.text)
time.sleep(3)

#Scraping data of Designation
for i in driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']"):
    Designation.append(i.text)
    
#Scraping data of company name
for i in driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']"):
    Company.append(i.text)

#Scraping data of locations
for i in driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft']"):
    Location.append(i.text)
time.sleep(3)

#Scraping data of skills
for i in driver.find_elements(By.XPATH,"//ul[@class='tags has-description']"):
    Skills.append(i.text)

In [9]:
print(len(Name),len(Designation),len(Company),len(Location),len(Skills))

20 20 20 34 20

In [10]:
# Creating dataframe for scraped data
Naukri=pd.DataFrame({})
Naukri['Name'] = Name[0:20]
Naukri['Designation'] = Designation[0:20]
Naukri['Company'] = Company[0:20]
Naukri['Location'] = Location[0:20]
Naukri['Skills']=Skills[0:20]
Naukri

,Name,Designation,Company,Location,Skills
0,Shift: UK ShiftShould have good communication ...,HCL Hiring For Associate Manager role into Dat...,HCL Technologies,Data Science & Analytics,Power Bi\nTableau\nSSIS\nForecasting\nSQL\ncom...
1,Please find below JD and company details TECHN...,Hiring For AVP |Data Science and Business Anal...,Citicorp Finance,Engineering - Software & QA,R\nData Science\npython\nBusiness Analytics\nR...
2,Skill required: Data Science - Predictive Mode...,Senior Analyst-Data Science,Accenture,"Customer Success, Service & Operations",Publishing\nConsulting\nPredictive modeling\nD...
3,Ability to work under minimum supervision,"Analyst, Data Science & Analytics",TransUnion,Other,SQL\ncommunication\nIT Skills\nData Science\nD...
4,"Masters or PhD degree in computer science, app...",Senior Manager Data Science,Optum,WFH during Covid,Data Science\ndeep learning\nSQL\nNLP\nPython\...
5,"BTech, MTech or MCA degree from a reputed univ...",Analyst - Data Science - Python/Machine Learni...,Huquo Consulting Pvt. Ltd,Remote,Python\nData Science\nStatistical Modeling\nDa...
6,Minimum 1 2 years of experience as a software ...,Data Science/ ML freshers,CliqHR Recruitment Services,Bangalore/Bengaluru,Data Science\nCNN\nKeras\nLSTM\nPytorch\nPytho...
7,Atleast 3+ years of experience in the field of...,Looking For Marketing Analytics / Campaign Ana...,Evalueserve,Delhi / NCR,machine learning\nab tesing\nAttribution Model...
8,"We are looking for exceptional individuals, wh...",Looking For Group Manager-Data Science( Retail...,Evalueserve,Gurgaon/Gurugram,python\ndata science\niri\nCART/CHAID\ndata an...
9,Atleast 3+ years of experience in the field of...,Looking For Campaign Analytics (Data Science) ...,Evalueserve,0-3 Lakhs,Campaign Designing\nMedia Mix Modelling\nmachi...
10,Analytics Consultant/ Senior Manager- Data Sci...,Consultant/Senior Manager - Analytics/Data Sci...,Huquo Consulting Pvt. Ltd,3-6 Lakhs,Data Science\nAnalytics\nManagement consulting...
11,Skill required: Data Science - Machine Learnin...,Senior Analyst-Data Science,Accenture,6-10 Lakhs,Publishing\nArtificial Intelligence\nConsultin...
12,Skill required: Data Science - Predictive Mode...,Senior Analyst-Data Science,Accenture,10-15 Lakhs,Publishing\nConsulting\nPredictive modeling\nD...
13,Bachelors degree or higher in Computer Science...,Junior Software Engineer - Data Science,LogiNext,Foreign MNC,Java\nSaaS\nPython\ndata mining\nTableau\nC++\...
14,Experienced candidates (and freshers) from any...,Machine Learning/Technical Analyst/Data Science,Bartleby Technologies,Corporate,machine learning\nIT Skills\nData Science\nClo...
15,Roles and Responsibilities 1. Teaching in the ...,Data Science Trainer,STARAGILE CONSULTING,Indian MNC,trainer\nBusiness Intelligence tools\nData Ana...
16,Roles and Responsibilities Candidates with 8-1...,Assistant Manager/ Manager - Supply Chain Data...,Golden Opportunities,Startup,supply chain\nBPO\ninternational bpo\ndata ana...
17,A work environment that encourages collaborati...,"Senior Manager, Data Science And Analytics",TransUnion,Business Intelligence & Analytics,IT Skills\nJava\nPython\nData Science\nMachine...
18,Education: BE / BS/MS or equivalent in applied...,Data Science Manager,Rapido,Data Science & Machine Learning,Data Science\ndata analysis\nNoSql\nAgile\ndat...
19,At least 2-3 years of experience of leading ju...,ACN - Applied Intelligence - CC - Data Science...,Accenture,Data Science & Analytics - Other,Supply chain management\nConsulting\nApplicati...

# Q8. Scrape the details of Highest selling novels.
URL = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare 

You have to find the following details:

A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [2]:
import pandas as pd
import selenium
import time
from bs4 import BeautifulSoup 
from tqdm import tqdm
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support.ui import WebDriverWait
import warnings
warnings.filterwarnings('ignore')

# Let first connect to the driver

driver=webdriver.Chrome(r"chromedriver.exe")

In [20]:
# get webpage
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [21]:
#Creating empty list
Bookname = []
Authorname = []
Volumessold = []
Publisher = []
Genre = []

In [22]:
#scraping book names data
for i in driver.find_elements(By.XPATH,"//tbody//tr/td[2]"):
    Bookname.append(i.text)
    
#Scraping author names data
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        Authorname.append(i.text)
    except NoSuchElementException:
        Authorname.append('-')
time.sleep(1)

#Scraping data of volumes sold
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[4]"):
    Volumessold.append(i.text)
    
#Scraping data of publisher names
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[5]"):
    Publisher.append(i.text)
    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[6]"):
    Genre.append(i.text)

In [23]:
#Creating dataframe for scraped data
Novels=pd.DataFrame({})
Novels['Book Name'] = Bookname
Novels['Author'] = Authorname
Novels['Volume sold'] = Volumessold
Novels['Publisher'] = Publisher
Novels['Genre'] = Genre
Novels

,Book Name,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [3]:
driver.close()

# 9. Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [4]:
import pandas as pd
import selenium
import time
from bs4 import BeautifulSoup 
from tqdm import tqdm
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support.ui import WebDriverWait
import warnings
warnings.filterwarnings('ignore')

# Let first connect to the driver

driver=webdriver.Chrome(r"chromedriver.exe")

In [27]:
# get webpage
driver.get("https://www.imdb.com/list/ls095964455/")

In [25]:
#Creating empty lists.
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

#Scraping data of Names
for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a"):
    Name.append(i.text)
    
#Scraping data of Year span
for i in driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)
    
#Scraping data of Run time
for i in driver.find_elements(By.XPATH,"//span[@class='runtime']"):
    Run_time.append(i.text)
    
#Scraping data of Ratings
for i in driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)
    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//span[@class='genre']"):
    Genre.append(i.text)
    
#Scraping data of votes
for i in driver.find_elements(By.XPATH,"//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [26]:
# Creating dataframe for scraped data
df=pd.DataFrame({})
df['Name'] = Name
df['Year Span'] = Year_span
df['Genre'] = Genre
df['Run Time'] = Run_time
df['Ratings'] = Ratings
df['Votes'] = Votes
df

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,048,909"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,144,963"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"968,153"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"288,795"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"248,375"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,552"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,557"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"194,764"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,021"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"236,388"

In [5]:
driver.close()

# 10. Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/ You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the ShowAllDataset page through code.

In [6]:
import pandas as pd
import selenium
import time
from bs4 import BeautifulSoup 
from tqdm import tqdm
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support.ui import WebDriverWait
import warnings
warnings.filterwarnings('ignore')

# Let first connect to the driver

driver=webdriver.Chrome(r"chromedriver.exe")

In [12]:
# get webpage
driver.get(" https://archive.ics.uci.edu/")

In [13]:
# Finding view all dataset button from the webpage
viewall_dataset = driver.find_element(By.XPATH,"//tbody[1]//tr/td[2]/span[2]/a")    
page_url = viewall_dataset.get_attribute("href")
driver.get(page_url)

In [14]:
# Fetching page urls of all datasets 
view_list = driver.find_element(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a")  
list_url = view_list.get_attribute("href")           
driver.get(list_url)

In [15]:
# Fetching urls for each dataset
dataset_url = driver.find_elements(By.XPATH,"//p[@class='normal']//b/a")

In [16]:
urls = []     
for i in dataset_url:
    urls.append(i.get_attribute("href"))

In [17]:
#Creating empty lists
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attributes = []
Year = []

In [18]:
for i in urls[0:100]:
    driver.get(i)
    time.sleep(2)
    
    #Scraping Dataset name
    try: 
        dataset_name = driver.find_element(By.XPATH,"//span[@class='heading']")
        Dataset_name.append(dataset_name.text)
    except NoSuchElementException:
        Dataset_name.append('-')
    
    
    #Scraping data type
    try:
        data_type = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[2]")
        if data_type.text == "N/A": raise NoSuchElementException
        Data_type.append(data_type.text)
    except NoSuchElementException:
        Data_type.append('-')
    
    
    #scraping Task
    try:
        task = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[3]/td[2]")
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    
    # Scraping Attribute type
    try:
        attribute_type = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[2]")
        if attribute_type.text == "N/A": raise NoSuchElementException
        Attribute_type.append(attribute_type.text)
    except NoSuchElementException:
        Attribute_type.append('-')
    
    
    # Scraping No of instances
    try:
        instances = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[4]")
        if instances.text == "N/A": raise NoSuchElementException
        No_of_instances.append(instances.text)
    except NoSuchElementException:
        No_of_instances.append('-')
    
    
    # Scraping No of attributes
    try:
        attribute = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[4]")
        if attribute.text == "N/A": raise NoSuchElementException
        No_of_attributes.append(attribute.text)
    except NoSuchElementException:
        No_of_attributes.append('-')
    
    
    # Scraping year
    try:
        year = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[6]")
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')

In [19]:
# Creating dataframe 

df=pd.DataFrame({})
df['Data Name'] = Dataset_name[:622]
df['Data Type'] = Data_type[:622]
df['Task'] = Task[:622]
df['Attribute type'] = Attribute_type[:622]
df['No of instance'] = No_of_instances[:622]
df['No of attributes'] = No_of_attributes[:622]
df['Year'] = Year[:622]
df

,Data Name,Data Type,Task,Attribute type,No of instance,No of attributes,Year
0,2.4 GHZ Indoor Channel Measurements Data Set,Multivariate,Classification,Real,7840,5,2018
1,"3D Road Network (North Jutland, Denmark) Data Set","Sequential, Text","Regression, Clustering",Real,434874,4,2013
2,3W dataset Data Set,"Multivariate, Time-Series","Classification, Clustering","Integer, Real",1984,8,2019
3,9mers from cullpdb Data Set,Sequential,"Classification, Regression",Real,158716,4,2021
4,: Simulated Data set of Iraqi tourism places D...,Multivariate,"Classification, Clustering",-,232,16,2020
...,...,...,...,...,...,...,...
95,Cervical Cancer Behavior Risk Data Set,"Multivariate, Univariate","Classification, Clustering",Integer,72,19,2019
96,Challenger USA Space Shuttle O-Ring Data Set,Multivariate,Regression,Integer,23,4,1993
97,Character Font Images Data Set,Multivariate,Classification,"Integer, Real",745000,411,2016
98,Character Trajectories Data Set,Time-Series,"Classification, Clustering",Real,2858,3,2008
99,Chemical Composition of Ceramic Samples Data Set,Multivariate,"Classification, Clustering",Real,88,19,2019

In [7]:
driver.close()